[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
gym = {extras = ["box2d"], version = "*"}
scipy = "*"

[dev-packages]

[requires]
python_version = "3.8"
